@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-Thin.woff);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-ExtraLight.woff);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-Light.woff);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-Regular.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-Medium.woff);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-SemiBold.woff);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-Bold.woff);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Sarabun-ExtraBold.woff);
  font-style: normal;
  font-weight: 800;
}

/* css reset */

*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

ul,
li {
  margin: 0;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

/* input filed type Number arrow remove */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
